.contact-me-card {
  // background: #1c1c1c;
  text-align: center;
  width: 100%;
  margin-inline: auto;
  padding: 0px 10px 30px 30px;

  margin: -40px 0 30px 0;
  // box-shadow: 10px 10px 63px 4px rgb(243 240 240);
  // height: 450px;
  // margin-inline: auto;
  border: 3px solid var(--standout-color);
  border-radius: 10px;
}

.get-in-touch {
  color: #fff;
  font-family: "Ubuntu";
  font-weight: 700;
  font-size: 2rem;
  align-items: center;
}
.input-groups {
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
}
.card-contact-right {
  background: var(--secondary-app-color);
  box-shadow: 10px 3px 33px 4px rgb(243 240 240);
  border-radius: 20px;
  width: 60%;
  padding: 24px;
  text-align: start;
}
