.nav-items {
  cursor: pointer;
  color: #fff;
  font-size: 1.3rem;
  font-family: "Ubuntu";
  text-decoration: none;
}
.brand-name {
  font-family: "Oswald";
  color: #fff;
  font-size: 2rem;
}

@media all and (max-width: 786px) {
  .navbar-option-mobile {
    display: block;
    width: 100vw;
    height: 45px;
    position: fixed;
    z-index: 44;
  }
  .flex-rows {
    flex-direction: column;
    justify-content: start;
  }
  .navbar-new {
    position: fixed;
    height: 100vh;
    width: 60vw;
    z-index: 33;
    transform: translateX(-700px);
  }
  .transition-all {
    transition: all 0.3s ease-in-out;
  }
  .navbar-fixed-new {
    position: fixed;
    height: 100vh;
    width: 60vw;
    z-index: 33;
  }
  .px-9 {
    padding-inline: 0px;
  }

  .px-10 {
    padding-inline: 10px;
  }
  .nav-items {
    padding-block: 20px;
  }
  .brand-name {
    font-size: 1.3rem;
    padding-inline: 22px;
    margin-top: 1px;
  }
  .bars {
    cursor: crosshair;
    height: 4px;
    width: 40px;
    background: #fff;
    float: right;
    z-index: 30;
    transform: translateY(22px);
    transition: all 0.32s ease-in-out;
    &::before {
      display: block;
      position: relative;
      top: 9px;
      content: "";
      color: #fff;
      width: 40px;
      height: 4px;
      background: #fff;
      transition: all 0.4s ease-in-out;
    }
    &::after {
      display: block;
      position: relative;
      bottom: 12px;
      content: "";
      color: #fff;
      width: 40px;
      height: 4px;
      background: #fff;
      transition: all 0.3s ease-in-out;
    }
    &.open {
      &::before {
        transition: all 0.5s ease-in-out;
        transform: translateY(-10px) rotate(-45deg);
      }
      &::after {
        transition: all 0.4s ease-in-out;
        transform: translateY(6px) rotate(45deg);
      }
    }
  }

  .Im-text {
    font-size: 1.2rem;
  }
  .name-Im-text {
    font-size: 23px;
  }
  .Im-text-enthusiastic {
    font-size: 1.7rem;
  }
  .Im-text-subheading {
    font-size: 1.2rem;
  }
  .btn-hire-me {
    font-size: 1rem;
    padding: 5px 8px;
    margin-block: 24px;
  }
  .btn-resume-me {
    font-size: 1rem;
    padding: 5px 8px;
    margin-block: 24px;
  }
  .custom-img {
    border: none;
  }
}
