.progress-some {
  background: rgb(3, 46, 95);
  height: 20px;
  width: 200px;
}

.progress-new {
  background: var(--secondary-app-color);
  height: 20px;
}
.language {
  font-family: "Ubuntu";
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-app-color);
  text-transform: capitalize;
  text-shadow: outline 0 5px 0 rgba(255, 255, 255);
}
