.progress-some {
  background: var(--secondary-app-color);
  height: 20px;
  width: 200px;
  border: 3px solid var(--secondary-app-color);
  border-radius: 10px;
}

.progress-new {
  background: var(--standout-color);
  height: 16px;
  border: 1px solid var(--secondary-app-color);
  border-radius: 15px;
}
.language {
  font-family: "Ubuntu";
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--secondary-app-color);
  text-transform: capitalize;
  text-shadow: outline 0 29px 0 var(--standout-color);
}
